:root {
  --greenish: #495e57;
  --yellowish: #f4ce14;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GENERAL STYLES */

body {
  margin: 0;
  padding: 0;
  font-family: Karla, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
.subtitle {
  font-family: "Markazi Text", serif;
}

h1 {
  color: var(--yellowish);
  font-size: 4.5rem;
  margin-bottom: -0.25em;
}

p {
  line-height: 1.5;
}

.subtitle {
  font-size: 2.5rem;
  color: var(--yellowish);
  margin: 0;
  color: white;
}

.description {
  color: white;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: var(--yellowish);
  color: black;
  border: none;
  padding: 0.75em 1.5em;
  border-radius: 0.5em;
  font-family: Karla, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

/* NAVIGATION */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 6em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

/* HERO */
.hero {
  background-color: var(--greenish);
}

.hero .wrapper {
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.hero .img-container {
  padding: 1em;
}

.hero .img-container img {
  border-radius: 1em;
}
