:root {
  --greenish: #495e57;
  --yellowish: #f4ce14;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GENERAL STYLES */

body {
  margin: 0;
  padding: 0;
  font-family: Karla, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 4em 2em;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
.subtitle {
  font-family: "Markazi Text", serif;
}

h1 {
  color: var(--yellowish);
  font-size: 4.5rem;
  margin-bottom: -0.25em;
}

h2 {
  font-size: 2rem;
}

.highlights h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5;
}

header nav a {
  text-decoration: none;
  color: black;
}

.hero .subtitle {
  font-size: 2.5rem;
  margin: 0;
  color: white;
}

.hero .description {
  color: white;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: var(--yellowish);
  color: black;
  border: none;
  padding: 0.75em 1.5em;
  border-radius: 0.5em;
  font-family: Karla, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

/* NAVIGATION */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 6em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

/* HERO */
.hero {
  background-color: var(--greenish);
}

.hero .wrapper {
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.hero .img-container {
  padding: 1em;
}

.hero .img-container img {
  border-radius: 1em;
}

/* HIGHLIGHTS */
.highlights {
  max-width: 1000px;
  margin-inline: auto;
  /* margin-top: 2em; */
}

.highlights-row,
.card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 3em;
  margin-block: 1em;
}

.card {
  background-color: #edefee;
  border-radius: 1em;
  flex: 1;
}

.card .img-container {
  width: 100%;
}

.card .img-container img {
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

.card:nth-of-type(3) .img-container img {
  max-height: 12.5rem;
  width: 100%;
}

.card-inner {
  padding: 1em;
}

.dish-price {
  color: #ee9972;
}

.delivery {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.25em;
}

/* TESTIMONIALS */
.testimonials {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.testimonial {
  text-align: center;
  max-width: 200px;
}

.avatar {
  border-radius: 50%;
  margin: 1em auto;
}

/* ABOUT */
.about {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% repeat(6, 1fr);
  column-gap: 2em;
  position: relative;
}

.about-text {
  grid-column-start: 1;
  grid-row: 1;
}

.about .img-top {
  grid-column: 2 / span 8;
  grid-row: 1;
  z-index: 1;
  max-width: 20rem;
}

.about .img-bottom {
  grid-column: 4 / -1;
  grid-row: 1;
  padding-top: 20%;
  max-width: 20rem;
}

.about h2 {
  margin-bottom: 0;
}

.about .subtitle {
  font-size: 1.5rem;
  margin: 0;
}

/* RESERVATIONS */
.reservations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.reservations h2 {
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 1000px;
}

.input-element input,
.input-element label {
  display: block;
  font-family: inherit;
  margin-bottom: 1em;
  width: 100%;
}

label {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1em 0;
}

.submit-btn {
  cursor: pointer;
  display: block;
  background-color: #f4ce14;
  color: black;
  padding: 0.75em 1.75em;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
  margin-block: 1em;
}

/* FOOTER */
footer {
  padding: 2em;
  max-width: 1000px;
  margin-inline: auto;
}

footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3em;
}

footer nav a {
  /* text-decoration: none; */
  display: block;
  color: black;
}
